<div class="container">
    <div class="p-grid">
        <div class="p-col-12">
            <h1>Relatório de Lançamentos por Pessoa</h1>
        </div>

        <form #formRel="ngForm" (ngSubmit)="gerar()">
            <div class="p-col-12">
                <label>Vencimento</label>
                <p-calendar dateFormat="dd/mm/yy" required
                    [inputStyle]="{ 'width': '110px', 'margin': '0 7px'}"
                    [(ngModel)]="dataInicial" name="dataInicial">
                    </p-calendar>

                <label>até</label>

                <p-calendar dateFormat="dd/mm/yy" required
                    [inputStyle]="{ 'width': '110px', 'margin': '0 7px'}"
                    [(ngModel)]="dataFinal" name="dataFinal">
                    </p-calendar>
            </div>

            <div class="p-col-12">
                <button pButton type="submit" label="Gerar"
                    [disabled]="formRel.invalid"></button>
            </div>
        </form>
    </div>
</div>